fastapi
uvicorn[standard]
sqlalchemy[asyncio]==2.0.20
asyncpg
alembic
pydantic==2.5.1
passlib[bcrypt]
PyJWT
boto3
aio-pika
celery[redis]
redis
pytest
pytest-asyncio
httpx
minio
psycopg2-binary
python-dotenv
python-jose
